<div class="home">
  <div class="avatars">
    <div class="avatar">
      <div class="avatart-border" style="border: 2px solid #b9cde5">
        <img
          src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          alt="Avatar"
          class="image"
        />
      </div>
      <div class="overlay">
        <a href="#" class="icon" title="User Profile">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div class="name">You</div>
    </div>
    <div class="avatar" *ngFor="let avatar of avatars">
      <div class="avatart-border" [ngStyle]="{ border: avatar.border }">
        <img [src]="avatar.url" [alt]="avatar.name" />
      </div>
      <div class="name">{{ avatar.name }}</div>
    </div>
  </div>

  <hr />

  <div class="feeds">
    <div class="feed-header">
      <div class="header">Feeds</div>
      <div class="type">
        <div *ngFor="let type of types">
          <div [class.active]="type.active">{{ type.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="feed-content">
    <div class="item" *ngFor="let feed of feeds">
      <div class="feed-img">
        <img [src]="feed.img" [alt]="feed.name" />
      </div>
      <div class="feed-info">
        <div class="feed-avatar">
          <img [src]="feed.avatar" alt="Avatar" />
          <span>{{ feed.name }}</span>
        </div>
        <div class="actions">
          <div class="action like" (click)="onLike(feed)">
            <i class="fas fa-heart icon"></i>
            <span>{{ feed.likes }}</span>
          </div>
          <div class="action">
            <i class="fas fa-comment-dots icon"></i>
            <span>{{ feed.comments }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
